.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f999;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quiz-question {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-card {
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.quiz-card:hover {
    background-color: #e0f7fa;
    transform: scale(1.02);
}

.quiz-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-button:hover {
    background-color: #0056b3;
}

.quiz-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.result {
    font-size: 20px;
    margin-top: 20px;
    color: #0030ff;
}


.quiz-button-back {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}