body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReEMHzPEMq0LON1UBvQDcEQhpWnY9MweJOtg&s');
  background-size: cover;

}